<div id="about_page">
	<h1>About Randomizer</h1><br>
	<p><b>Randomizer</b> is a web-based app, created by Fredrik Salin, which is using chance (generates random values) in order to help you decide in a selection process you find to be hard. This might for instance be when you (and your friends perhaps) need help choosing which movie to watch. Some people might want to watch "Titanic", but you want to watch "Rambo 9".
	<b>Randomizer</b> offers a solution - Let chance decide!</p>
	<a href="#/pickmovie"><button type="button" class="btn btn-default btn-lg" id="button_movie">
			    <span class="glyphicon glyphicon-film"></span> Randomizer for selecting movies
			  </button></a>

	<p>Another scenario when <b>Randomizer</b> can be of help is for instance when somebody has to go to the local supermarket and buy
	snacks for the movie you just used <b>Randomizer</b> to select. To avoid abiased selection processes, use a third party like <b>Randomizer</b> instead!</p>
	<a href="#/pickperson"><button type="button" class="btn btn-default btn-lg" id="button_person">
			    <span class="glyphicon glyphicon-user"></span> Randomizer for selecting person
			  </button></a><br>

	<p><b>Randomizer</b> can be used for anything really. Choosing which shirt to wear for a party night, which new phone or computer to buy, or which education to pick (it might not be a good idea to use Randomizer to make all your important decisions in life though). Any decision when the alternatives have about the same weight, <b>Randomizer</b> can be applied. Specify your own problem and alternatives and let <b>Randomizer</b> help you with the decision!</p>
	<a href="#/specifyYourself"><button type="button" class="btn btn-default btn-lg" id="button_movie">
		    <span class="glyphicon glyphicon-edit"></span> Specify the problem yourself!
		  </button></a>
</div>