<div ng-show="objectsToChooseFrom.length" id="loading_area">
 <div id="spinner"></div>
 <h2 class="center_text">Helping you make the decision!</h2>
</div>

<div ng-show="objectsToChooseFrom.length" id="results_movies">
 <h2>Movie to watch:</h2>
 <h1>{{movieTitle}}</h1>
</div>

<div ng-show="objectsToChooseFrom.length" id="results_persons">
 <h1>{{subject}}</h1>
 <div ng-if="results.length > 1">
  <h2>{{alternative_text}}s:</h2>

  <ul class="clean-list">
   <li ng-repeat="person in results track by $index">
    {{person}}
   </li>
  </ul>
 </div>

 <div ng-if="results.length === 1">
  <h2>{{alternative_text}}: {{results[0]}}</h2>
 </div>
</div>

<div ng-hide="objectsToChooseFrom.length">
 <p><span class="glyphicon glyphicon-info-sign"></span> No results to show, <a ng-click="goBack()" href="">go back to menu</a>.</p>
</div>
