<div class="main_choice">
  <h1>Randomizer</h1>
  <h2>-Helps you make those difficult decisions!</h2>
  <p>In order to help you with a given decision problem, please select one of the categories below:</p>
  	<div id="alternatives" class="center_text">
		  <a href="#/pickperson"><button type="button" class="btn btn-default btn-lg" id="button_person">
		    <span class="glyphicon glyphicon-user"></span> Choose person!
		  </button></a><br>
		  <a href="#/pickmovie"><button type="button" class="btn btn-default btn-lg" id="button_movie">
		    <span class="glyphicon glyphicon-film"></span> Choose movie!
		  </button></a><br>
		  <a href="#/specifyYourself"><button type="button" class="btn btn-default btn-lg" id="button_movie">
		    <span class="glyphicon glyphicon-edit"></span> Specify yourself!
		  </button></a>
		  <a href="#/about"><p id="text_what">What is this?</p></a>
	</div>
</div>
