<div class="container">
	<div class="head_content">
		<h2 id="subjectHeader">First off, what is this about?</h2>
		<form role="form" ng-submit="addSubject()">
			<div class="row">
				<div class="input-group">
					<input type="text" ng-model="context" placeholder='Add a context, e.g. "What should I wear at tonights party?"' class="form-control">
			<span class="input-group-btn">
				<input type="submit" class="btn btn-primary" value="Add">
			</span>
				</div>
				<span ng-hide="!errors.emptySubject" class="error"><i>Subject cannot be empty</i></span>
			</div>
		</form>

		<h1>{{subject}}</h1>
	</div>

	<div class="head_content">
		<h1>Enter alternatives</h1>
		<p>Add the alternatives you want <b>Randomizer</b> to choose from bellow:</p>
		<h2 id="alternativesHeader">Add New Alternative</h2>
		<!-- Todos input -->
		<form role="form" ng-submit="addAlternative()">
			<div class="row">
				<div class="input-group">
					<input type="text" ng-model="alternative" placeholder="Add an alternative" class="form-control">
				<span class="input-group-btn">
					<input type="submit" class="btn btn-primary" value="Add">
				</span>
				</div>
				<span ng-hide="!errors.duplicateAlternative" class="error"><i>Alternative already exist in list</i></span>
				<br ng-show="errors.emptyAlternatives && errors.duplicateAlternative"/>
				<span ng-hide="!errors.emptyAlternatives" class="error"><i>Atleast two alternatives must exist in the list</i></span>
			</div>
		</form>
	</div>

	<div class="head_content">
		<h3>Your List</h3>
		<div ui-sortable ng-model="persons">
			<div class="row">
				<p class="input-group" ng-repeat="alternative in alternatives track by $index" style="padding:5px 10px; cursor: move;">
					<input type="text" ng-model="alternative" class="form-control" >
			<span ng-model="span" class="input-group-btn">
				<button class="btn btn-danger" ng-click="removeAlternative($index)" aria-label="Remove">X</button>
			</span>
				</p>
				<span ng-hide="alternatives.length"><i>No alternatives added yet</i></span>
			</div>
		</div>
	</div>

	<div class="head_content">
		<h3>How many alternatives should be chosen?</h3>
		<p>Please specify how many alternatives that should be selected randomly:</p>
		<select ng-model='selectedNumber'>
			<option value="">-- Choose a number --</option>
			<option ng-repeat='alternative in alternatives | limitTo: alternatives.length-1'>{{$index+1}}</option>
		</select>
	</div>

	<div class="center_text">
		<button type="button" ng-click="makeTheChoice()" class="btn btn-large btn-primary" id="button_movie">
			<span class="glyphicon glyphicon-play"></span> Help me choose!
		</button>
	</div>
</div>